TZ=America/Lima
KAFKA_BOOTSTRAP_SERVERS=kafka.example.internal:9092
CONNECT_CONFIG_TOPIC=arify-connect-configs
CONNECT_OFFSET_TOPIC=arify-connect-offsets
CONNECT_STATUS_TOPIC=arify-connect-status
SCHEMA_HISTORY_TOPIC=arify-schema-history.sqlserver
CDC_TOPIC_PREFIX=sqlserver
CDC_TOPIC_KARDEX=sqlserver.Arify.dbo.SI_FinKardex
CDC_TOPIC_AGENCIA=sqlserver.Arify.dbo.SI_FinAgenciaCCE
CDC_TOPIC_CANAL=sqlserver.Arify.dbo.SI_FinCanalCCE
SQLSERVER_HOST=sqlserver.example.internal
SQLSERVER_PORT=1433
SQLSERVER_DB=Arify
DEBEZIUM_USER=debezium
DEBEZIUM_PASSWORD=Sysadmin321++
SCYLLA_CONTACT_POINTS=scylladb.example.internal
SCYLLA_LOCAL_DC=datacenter1
SCYLLA_KEYSPACE=arify_cqrs
SCYLLA_SINK_USERNAME=arify_kafka_sink
SCYLLA_SINK_PASSWORD=Sysadmin321++
KAFKA_CONNECT_URL=http://127.0.0.1:8083
