TZ=America/Lima
SCYLLA_LOCAL_DC=datacenter1
SCYLLA_SUPERUSER_PASSWORD=Sysadmin321++
SCYLLA_SINK_USERNAME=arify_kafka_sink
SCYLLA_SINK_PASSWORD=Sysadmin321++
SCYLLA_READONLY_USERNAME=arify_readonly
SCYLLA_READONLY_PASSWORD=Sysadmin321++
