# Topic contract shared manually with Kafka Connect; contains no source-system credentials.
CDC_TOPIC_KARDEX=sqlserver.Arify.dbo.SI_FinKardex
CDC_TOPIC_AGENCIA=sqlserver.Arify.dbo.SI_FinAgenciaCCE
CDC_TOPIC_CANAL=sqlserver.Arify.dbo.SI_FinCanalCCE
CONNECT_CONFIG_TOPIC=arify-connect-configs
CONNECT_OFFSET_TOPIC=arify-connect-offsets
CONNECT_STATUS_TOPIC=arify-connect-status
SCHEMA_HISTORY_TOPIC=arify-schema-history.sqlserver
